/* pc */
@media (min-width:992px) {
    .blog__hiden,
    .controls__mobile,
    .close-menu,
    .menu-drawer,
    .menu-header__icon {
        display: none;
    }
    

}
/* máy tính bảng + Mobile */
@media (max-width :991.98px) {
    html{
        font-size:52.65%;
    }
    /* 1 ẩn thanh nav */
    .header .btn-sign-up,
    .nav{
        display: none;
    }
    /* 2. chuyển logp về giữa  */
    .body-header{
        position: relative;
    }
    .header__logo{
        position: absolute;
        left: 50%;
        translate: -50% -50%;
}
/* 3 căn lại vi trí menu icon */
.menu-header__icon{
    position: absolute;
    top: 12px;
    left: 20px;
    color: black;
    height: 27px;
    width: 27px;
    z-index: 1;
}
/* 4.overlay */
.menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: 2;
    /* khi chưa tác động */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
/* 5. kiểm tra xem check box có được check hay không, nếu được check sẽ hiển thị overlay */
.menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}
/* menu-drawer */
.menu-drawer{
    position: fixed;
    background-color: rgba(255, 231, 231, 0.908);
    inset: 0 60% 0 0;
    z-index: 3;
    transform: translateX(-100%);
    transition: 1s;
    padding: 20px;
}

.menu-drawer a {
    color: #000;
    list-style-type: none;
}
/* kiểm tra xem nếu checkbox được check thì hiện menu */
.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
}
.navbar__list--pc{
    color: aliceblue;
}
/* menu top */
.close-menu{
    width: 24px;
}
.menu-drawer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-signup-mobile{
    background: rgb(255, 231, 231);
    /* border-top: 2px solid #fff; */
}
#navbar__list--mobile,li {
padding: 20px;
}
.body-hero {
    flex-direction: column;
}
.hero .media-block  {
    order: 1;

}
.hero .content-block {
    order: 2;
}
.hero .content-block {
    width: 100%;
    padding-top: 64px;
    padding-left: 0;
}
.hero__media-block{
    max-width: 100%;
}

.hero .media-block .img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.hero-summary{
   bottom: 0;
    left: 0;
}
.cta-group{
    display: flex;
align-items: center;
justify-content: space-around;
}
.hero .heading {
    font-size: 3rem;
    text-align: center;
}
.desc,
.desc2,
.hero .desc1{
    text-align: center;
}
.features__body{
    flex-direction: column;
}
.features .imges{
    order: 1;
}
.features .content{
    order: 2;
}
.features__content{
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.features__img{
    margin: 0 auto;
}
.features-2nd .body {
    
    flex-direction: column;
    row-gap: 30px;
}
.features-2nd__img{
    order: 1;
    margin: 0 auto ;
}
.features-2nd__content{
    order: 2;
    text-align: center;
}
.popular-hiden{
    display: none;
}
.popular-bot {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footer .desc{
    text-align: start;
}

}


/* máy tính bảng  */
@media (min-width:768px) and (max-width:991.98px) {

}
/*  Mobile */
@media (max-width:767.98px) {
    .hero-summary {
        display: none;
    }
    .hero-cta {
        min-width: 135px;
        line-height: 42px;
    }
    .controls__hiden,
    .popular-hiden,
    .popular-hiden__mobile{
        display: none;
    }
    .popular-top .info, .desc {
        max-width: 100%;
    }
    .popular .popular-bot{
        grid-template-columns: 1fr;
    }
    .info{
        text-align: center;
    }
    .controls__mobile{
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
   
    .feeback-list {
        height: auto;
    }
    .feeback-item blockquote {
        font-size: 1.6rem;
    }
   .body .features__img {
        display: grid;
    }
    .features-2nd .imges img {
        width: 100%;
        height: 240px;
    }
    .features .heading-lv2 {
      font-size: 28px;
       }
       .features-2nd {
        margin-top: 20px;
    }
    .blog-list {
        display: grid;
      
    }
    .blog-list .item{
        width: 100%;
    }
    .blog__hiden{
        display: none;
    }
    .footer .row{
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__mobile--hiden {
        display: none;
    }
    .row{
        width: 100%;
    }
  
}